.attribution {
  font-size: 1.1rem;
  text-align: center;
  margin: 0 1rem 1rem;
}
.attribution a {
  color: var(--dark-cyan);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}
