/* CSS Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  font-size: 62.5%;
}

button {
  background-color: none;
  border: none;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navigation */

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  transition: 500ms ease-in-out;
}
