@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");

:root {
  --font-primary: "Barlow", sans-serif;
  --font-secondary: "Fraunces", serif;
  --cyan: rgba(102, 210, 207, 1);
  --dark-cyan: rgb(14, 135, 132);
  --dark-grey-blue: rgb(51, 61, 75);
  --dark-grey-blue-transparent: rgba(51, 61, 75, 0.8);
  --dark-grey: rgba(44, 52, 62, 1);
  --pale-orange: rgb(253, 214, 186);
  --light-cream: rgb(254, 252, 247);
  --light-cream-transparent: rgba(254, 252, 247, 0.8);
  /* --dark-cream: rgb(3, 2, 0); */
  --grey: rgb(131, 136, 143);
  --grey-transparent: rgba(131, 136, 143, 0.25);
  --light-grey: rgba(226, 222, 219, 1);
  --white: rgb(255, 255, 255);
  --white-transparent: rgba(255, 255, 255, 0.5);
  --font-gradient: linear-gradient(
    180deg,
    rgba(254, 252, 247, 0.0001) 0%,
    #fefcf7 100%
  );
}

/* CSS Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  background: var(--light-cream);
  color: var(--dark-grey-blue);
  font-family: var(--font-primary);
  font-weight: 400;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

img {
  display: block;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

label {
  display: block;
}

.container {
  width: min(87.2%, 32.7rem);
}

.heading,
.subheading {
  font-family: var(--font-secondary);
  font-weight: 900;
}

.paragraph {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.grid {
  display: grid;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.2rem auto 4rem;
}

.header .logo {
  width: 14.021rem;
}

.header .logo,
.navigation-button {
  position: relative;
  z-index: 100;
}

/* Navigation */

.navigation {
  background: linear-gradient(
    to top,
    rgba(254, 252, 247, 0.504981) 0%,
    #fefcf7 55.94%
  );
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  transform: translateY(-100%);
  transition: 500ms ease-in-out;
  z-index: 10;
}

.navigation.open {
  transform: translateY(0);
  transition: 500ms ease-in-out;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-top: 13rem;
}

.nav-link {
  font-family: var(--font-secondary);
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--dark-grey-blue);
}

.lock-scroll {
  overflow: hidden;
}

/* Home Page */

/* Hero Section */
.home-hero {
  background-image: url("../public/assets/home/mobile/image-hero-coffeepress.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: 10rem 2.4rem 9.9rem;
  margin: 0 auto;
}

.home-hero .heading {
  color: var(--light-cream);
  font-size: 4rem;
  line-height: 4rem;
}

.home-hero .paragraph {
  color: var(--light-cream-transparent);
  margin: 2.4rem 0 3.9rem;
}

.create-button {
  display: block;
  width: fit-content;
  background: var(--dark-cyan);
  border-radius: 6px;
  color: var(--light-cream);
  font-family: var(--font-secondary);
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 2.5rem;
  padding: 1.5rem 3.1rem 1.6rem;
}

/* Our Collection */

.collection {
  margin-top: 12rem;
}

.collection .heading {
  background-color: var(--grey);
  background-image: var(--font-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  line-height: 7.2rem;
  text-transform: lowercase;
  margin-bottom: 1.3rem;
  opacity: 0.5;
}

.collection .grid {
  grid-template-columns: 1fr;
  gap: 4.8rem;
}

.collection-image {
  width: 20rem;
  margin: 0 auto 2.4rem;
}

.collection .subheading {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.collection .paragraph {
  width: min(75.2%, 28.2rem);
  margin: 1.6rem auto 0;
}

/* Why Choose Us */

.choose-us {
  background: var(--dark-grey);
  color: var(--light-cream);
  margin: 12rem auto 0;
  padding: 6.4rem 2.4rem 66.1rem;
  border-radius: 10px;
  position: relative;
}

.choose-us .heading {
  font-size: 2.8rem;
  line-height: 2.8rem;
}

.choose-us .paragraph {
  color: var(--light-cream-transparent);
  margin: 2.4rem 0 0;
}

.choose-us .grid {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 38.2rem);
  gap: 2.4rem;
  position: absolute;
  width: min(85.3%, 27.9rem);
  top: 30.5rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.reason {
  background: var(--dark-cyan);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reason-image {
  width: 7.2rem;
  margin: 0 auto 5.6rem;
}

.reason:last-of-type .reason-image {
  margin-bottom: 6.7rem;
}

.reason .subheading {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.reason .paragraph {
  width: min(85.8%, 21.2rem);
  margin: 2.4rem auto 0;
}

/* How It Works */

.how-it-works {
  margin-top: 71.7rem;
}

.how-it-works .heading {
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--grey);
}

.how-it-works .grid {
  grid-template-columns: 1fr;
  gap: 5.6rem;
  margin: 8rem auto 7.9rem;
}

.how-it-works .subheading {
  font-size: 2.8rem;
  line-height: 3.2rem;
  margin-bottom: 2.4rem;
}

.subheading-index {
  display: block;
  font-size: 7.2rem;
  line-height: 7.2rem;
  color: var(--pale-orange);
  margin-bottom: 2.4rem;
}

.how-it-works .create-button {
  margin-left: auto;
  margin-right: auto;
}

/* About Us Page */

/* Hero Section */

.about {
  margin: 0 auto;
  padding: 11.1rem 2.4rem 8.7rem;
  background-image: url("../public/assets/about/mobile/image-hero-whitecup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.about .heading {
  font-size: 2.8rem;
  line-height: 2.8rem;
  color: var(--light-cream);
}

.about .paragraph {
  color: var(--light-cream-transparent);
  margin-top: 2.4rem;
}

/* Our Commitment */

.commitment {
  margin: 12rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.commitment-image {
  width: 100%;
  border-radius: 8px;
}

.commitment .heading {
  font-size: 3.2rem;
  line-height: 4.8rem;
}

.commitment .paragraph {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--dark-grey-blue-transparent);
  margin-top: 3rem;
}

/* Quality */

.quality {
  margin: 19.8rem auto 0;
  background-color: var(--dark-grey);
  border-radius: 10px;
  padding: 14.2rem 2.4rem 6.1rem;
  position: relative;
}

.quality::before {
  content: "";
  width: min(85.3%, 27.9rem);
  height: 15.6rem;
  background-image: url("../public/assets/about/mobile/image-quality.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -7.8rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.quality .heading {
  color: var(--light-cream);
  font-size: 2.8rem;
  line-height: 2.8rem;
}

.quality .paragraph {
  margin-top: 2.4rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--light-cream-transparent);
}

/* Headquarters */

.headquarters {
  margin: 12rem auto 0;
}

.headquarters .heading {
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--grey);
}

.headquarters .grid {
  margin-top: 7.2rem;
  grid-template-columns: 1fr;
  gap: 8rem;
}

.headquarters-illustration {
  margin: 0 auto 4.8rem;
}

.headquarters .subheading {
  font-size: 2.8rem;
  line-height: 3.6rem;
  margin-bottom: 2.2rem;
}

.contact-info {
  display: block;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

/* Subscribe */

/* Hero Section */

.subscribe-hero {
  margin: 0 auto;
  padding: 10.1rem 2.4rem 13.6rem;
  background-image: url("../public/assets/plan/mobile/image-hero-blackcup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.subscribe-hero .heading {
  font-size: 4rem;
  line-height: 4rem;
  color: var(--light-cream);
}

.subscribe-hero .paragraph {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--light-cream-transparent);
  margin-top: 2.2rem;
}

/* Steps */

.steps {
  background: var(--dark-grey);
  border-radius: 10px;
  margin-top: 12rem;
  padding: 8rem 2.4rem 7.9rem;
}

.steps.grid {
  grid-template-columns: 1fr;
  gap: 5.6rem;
}

.steps .subheading {
  font-size: 2.8rem;
  line-height: 3.2rem;
  color: var(--white);
}

.steps .paragraph {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--white);
  margin-top: 2.4rem;
}

/* Order */

.order-options {
  display: none;
}

.order-form {
  width: min(87.5%, 32.8rem);
  margin: 12rem auto 0;
  grid-template-columns: 1fr;
  gap: 9.6rem;
}

.order-option {
  text-align: left;
}

.question-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  text-align: left;
}

.question {
  font-family: var(--font-secondary);
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: var(--grey);
}

.arrow-icon {
  transition: 500ms;
}

.question-expanded {
  transform: rotate(180deg);
  transition: 500ms;
}

.disabled-button {
  opacity: 0.5;
}

.answers {
  margin-top: 3.2rem;
  grid-template-columns: 1fr;
  gap: 1.6rem;
}

.answer-value {
  font-family: var(--font-secondary);
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 0.8rem;
}

.answer {
  display: block;
  background: #f4f1eb;
  border-radius: 8px;
  padding: 2.4rem 2.5rem;
  width: 100%;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.checked-option {
  background-color: var(--dark-cyan);
  color: var(--white);
}

.user-option {
  color: var(--dark-cyan);
}

/* Order Summary */

.order-summary .container {
  margin: 12rem auto 0;
  padding: 3.2rem 2.4rem 3.2rem 2.5rem;
  background: var(--dark-grey);
  border-radius: 10px;
  text-align: left;
}

.summary-heading {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  color: var(--white-transparent);
}

.summary-text {
  margin-top: 0.8rem;
  font-family: var(--font-secondary);
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 4rem;
  color: var(--white);
}

.order-summary .create-button {
  margin: 5.6rem auto 0;
  padding: 1.5rem 3.55rem 1.6rem;
}

.create-button.subscribe-disabled {
  background-color: var(--light-grey);
}

/* Modal */

.modal {
  border-radius: 8px;
  text-align: left;
  overflow: hidden;
}

.modal .heading {
  background: var(--dark-grey);
  font-size: 2.8rem;
  line-height: 3.2rem;
  color: var(--white);
  padding: 2.8rem 2.4rem;
}

.modal .summary-text {
  color: var(--grey);
  margin: 4rem 2.4rem 0;
}

.confirmation {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--dark-grey-blue-transparent);
  margin: 0 2.4rem;
}

.modal .create-button {
  margin: 2.4rem;
}

/* Footer */

.footer {
  background: var(--dark-grey);
  margin: 12rem auto 7.2rem;
  padding: 5.4rem 0;
}

.footer-logo-text {
  fill: var(--white);
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin: 4.8rem auto;
}

.footer-link {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: var(--grey);
}

.social-icons {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
}

/* Media Queries */
@media screen and (min-width: 630px) {
  /* General Styles */
  body {
    text-align: left;
  }

  .container {
    width: min(89.5%, 68.8rem);
  }

  /* Header */

  .header {
    margin: 4rem auto 5.3rem;
  }

  .header .logo {
    width: 23.7rem;
  }

  /* Navigation */

  .navigation-button {
    display: none;
  }

  .navigation {
    background: none;
    position: static;
    transform: translateY(0);
    width: auto;
    height: auto;
  }

  .nav-links {
    width: 28.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    margin-top: 0;
  }

  .nav-link {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--dark-grey-blue);
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: var(--grey);
  }

  /* Home Page */

  /* Hero Section */
  .home-hero {
    background-image: url("../public/assets/home/tablet/image-hero-coffeepress.jpg");
    padding: 10.4rem 5.8rem;
  }

  .home-hero .content-wrapper {
    width: 39.8rem;
  }

  .home-hero .heading {
    color: var(--light-cream);
    font-size: 4.8rem;
    line-height: 4.8rem;
  }

  .home-hero .paragraph {
    margin: 2.4rem 0 4rem;
  }

  /* Our Collection */

  .collection {
    margin-top: 14.4rem;
  }

  .collection .heading {
    font-size: 9.6rem;
    font-size: 9.6rem;
    margin-bottom: 0;
    text-align: center;
  }

  .collection .grid {
    gap: 3.2rem;
    position: relative;
    top: -2.55rem;
  }

  .collection-wrapper {
    display: flex;
    justify-content: center;
    width: min(74.6%, 57.3rem);
    margin: 0 auto;
    gap: 3.5rem;
  }

  .collection-image {
    width: 23.482rem;
    margin: 0 auto;
  }

  .collection-wrapper .content-wrapper {
    margin-top: 2.955rem;
  }

  .collection .paragraph {
    width: auto;
    margin: 2.4rem 0 0;
  }

  /* Why Choose Us */

  .choose-us {
    margin: 12rem auto 0;
    padding: 5.6rem 7.4rem 36.8rem;
    position: relative;
  }

  .choose-us .heading {
    font-size: 3.2rem;
    line-height: 4.8rem;
    text-align: center;
  }

  .choose-us .paragraph {
    text-align: center;
    padding: 0 2.5rem;
  }

  .choose-us .grid {
    width: min(83.3%, 57.3rem);
    grid-template-rows: repeat(3, 1fr);
    top: 27.5rem;
  }

  .reason {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5.5rem;
    padding: 4.1rem 4.8rem 4.1rem 7rem;
  }

  .reason-image {
    width: 5.6rem;
    margin: 0;
  }

  .reason:last-of-type .reason-image {
    margin-bottom: 0;
  }

  .reason .paragraph {
    width: auto;
    text-align: left;
    margin: 1.6rem 0 0;
    padding: 0;
  }

  /* How It Works */

  .how-it-works {
    margin: 43.4rem auto 0;
    width: min(89.5%, 68.8rem);
  }

  .how-it-works .grid {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 11.9rem 0 4.4rem;
  }

  .how-steps {
    position: relative;
  }

  .how-steps::after {
    content: "";
    width: 3.1rem;
    height: 3.1rem;
    background-color: var(--light-cream);
    border: 2px solid var(--dark-cyan);
    border-radius: 50%;
    position: absolute;
    top: -7.7rem;
    left: 0;
  }

  .how-steps::before {
    content: "";
    width: 105%;
    border-top: 2px solid var(--pale-orange);
    position: absolute;
    top: -6.2rem;
    left: 1.55rem;
  }

  .how-steps:nth-child(3)::before {
    content: none;
  }

  .how-it-works .subheading {
    margin-bottom: 3.8rem;
  }

  .subheading-index {
    margin-bottom: 4.2rem;
  }

  .how-it-works .paragraph {
    padding-right: 1.2rem;
  }

  .how-it-works .create-button {
    margin-left: 0;
    margin-right: 0;
  }

  /* About Us Page */

  /* Hero Section */

  .about {
    padding: 11.8rem 5.8rem;
    background-image: url("../public/assets/about/tablet/image-hero-whitecup.jpg");
  }

  .about .heading {
    font-size: 3.2rem;
    line-height: 4rem;
  }

  .about .paragraph {
    width: 39.8rem;
  }

  /* Our Commitment */

  .commitment {
    margin: 14.4rem auto 0;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  .commitment-image {
    width: 28.1rem;
  }

  .commitment .content-wrapper {
    width: 33.9rem;
  }

  /* Quality */

  .quality {
    margin: 30.4rem auto 0;
    padding: 22.4rem 7.4rem 6.7rem;
    text-align: center;
  }

  .quality::before {
    content: "";
    width: min(83.3%, 57.3rem);
    height: 32rem;
    background-image: url("../public/assets/about/tablet/image-quality.jpg");
    top: -16rem;
  }

  .quality .heading {
    font-size: 3.2rem;
    line-height: 4.8rem;
  }

  .quality .paragraph {
    padding: 0 0.2rem;
  }

  /* Headquarters */

  .headquarters {
    margin: 14.4rem auto 0;
  }

  .headquarters .heading {
    margin-left: 8.5rem;
  }

  .headquarters .grid {
    grid-template-columns: repeat(3, 1fr);
    width: min(81.6%, 104.5rem);
    margin-left: 8.5rem;
    gap: 0.9rem;
  }

  .headquarters-illustration {
    margin: 0 0 4.8rem;
  }

  .headquarters .subheading {
    font-size: 2.4rem;
    margin-bottom: 2.1rem;
  }

  /* Subscribe */

  /* Hero Section */

  .subscribe-hero {
    padding: 12.7rem 5.8rem 12.6rem;
    background-image: url("../public/assets/plan/tablet/image-hero-blackcup.jpg");
  }

  .subscribe-hero .heading {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }

  .subscribe-hero .paragraph {
    margin-top: 2.4rem;
    width: 39.8rem;
  }

  /* Steps */

  .steps {
    margin-top: 14.4rem;
    padding: 17.6rem 3.9rem 9.6rem 4rem;
  }

  .steps .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .steps .paragraph {
    margin-top: 3.8rem;
    padding-right: 0.5rem;
  }

  .steps .how-steps::after {
    background-color: transparent;
  }

  /* Order */

  .order-form {
    margin: 14.4rem auto 0;
    gap: 10rem;
  }

  .question {
    font-size: 3.2rem;
    line-height: 4.8rem;
  }

  .answers {
    margin-top: 4rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .answer-value {
    margin-bottom: 2.4rem;
  }

  .answer {
    padding: 3.2rem 2.6rem 8.4rem 2.5rem;
  }

  /* Order Summary */

  .order-summary .container {
    margin: 14.4rem auto 0;
    padding: 2.7rem 4.3rem 2.7rem 4.4rem;
  }

  .order-summary .create-button {
    margin: 4rem auto 0;
  }

  /* Modal */

  .modal .heading {
    font-size: 4rem;
    line-height: 4.8rem;
    padding: 4.8rem 5.6rem 4rem;
  }

  .modal .summary-text {
    margin: 5.7rem 5.6rem 0.7rem;
  }

  .confirmation {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin: 0 5.6rem 4.7rem;
  }

  .checkout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5.6rem 5.6rem;
  }

  .checkout-cost {
    font-family: var(--font-secondary);
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 3.6rem;
  }

  .modal .create-button {
    margin: 0;
    padding: 1.5rem 6.4rem 1.6rem;
  }

  /* Footer */

  .footer {
    margin: 14.4rem auto 7.2rem;
    text-align: center;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    width: 28.3rem;
    justify-content: space-between;
    gap: 0;
    margin: 3.2rem auto 6.5rem;
  }
}

@media screen and (min-width: 1310px) {
  /* General Styles */
  .container {
    width: min(88.89%, 128rem);
  }

  .paragraph {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  /* Header */

  .header {
    margin: 4.356rem auto 4.344rem;
  }

  /* Navigation */

  .nav-links {
    width: 28.3rem;
  }

  /* Home Page */

  /* Hero Section */
  .home-hero {
    background-image: url("../public/assets/home/desktop/image-hero-coffeepress.jpg");
    padding: 11.7rem 8.5rem 13.2rem;
  }

  .home-hero .content-wrapper {
    width: 49.3rem;
  }

  .home-hero .heading {
    color: var(--light-cream);
    font-size: 7.2rem;
    line-height: 7.2rem;
  }

  .home-hero .paragraph {
    margin: 3.2rem 0 5.6rem;
    padding-right: 5rem;
  }

  /* Our Collection */

  .collection {
    margin-top: 22.2rem;
  }

  .collection .heading {
    font-size: 15rem;
    line-height: 15rem;
  }

  .collection .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    width: 111.1rem;
    margin: 0 auto;
    top: -6rem;
  }

  .collection-wrapper {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 7.155rem;
    text-align: center;
  }

  .collection-image {
    width: 25.5rem;
  }

  .collection-wrapper .content-wrapper {
    margin-top: 2.955rem;
  }

  .collection .paragraph {
    width: auto;
    margin: 2.4rem 0 0;
  }

  /* Why Choose Us */

  .choose-us {
    margin: 20rem auto 0;
    padding: 10rem 0 31.7rem;
    border-radius: 10px;
    position: relative;
  }

  .choose-us .heading {
    font-size: 4rem;
    line-height: 4.8rem;
  }

  .choose-us .paragraph {
    margin: 3.2rem auto 0;
    width: 54rem;
    padding: 0 0.6rem;
  }

  .choose-us .grid {
    width: min(86.7%, 111rem);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    top: 34.6rem;
  }

  .reason {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.6rem;
    padding: 7.2rem 4.8rem 4.8rem 4.7rem;
    text-align: center;
  }

  .reason-image {
    width: 7.2rem;
  }

  .reason .paragraph {
    margin-top: 2.4rem;
    width: auto;
    padding: 0;
    text-align: center;
  }

  /* How It Works */

  .how-it-works {
    margin: 35.1rem auto 0;
    width: min(86.7%, 111rem);
    padding-bottom: 3.2rem;
  }

  .how-it-works .grid {
    width: 100%;
    gap: 9.5rem;
    margin: 17.8rem 0 6.4rem;
  }

  .how-steps {
    position: relative;
  }

  .how-steps::after {
    top: -9.6rem;
  }

  .how-steps::before {
    width: 125%;
    top: -8.2rem;
    left: 1.55rem;
  }

  .how-steps:nth-child(3)::before {
    content: none;
  }

  .how-it-works .subheading {
    font-size: 3.2rem;
    line-height: 3.6rem;
    margin-bottom: 4.3rem;
    padding-right: 5rem;
  }

  .subheading-index {
    margin-bottom: 3.8rem;
  }

  .how-it-works .paragraph {
    padding-right: 2.5rem;
  }

  /* About Us Page */

  /* Hero Section */

  .about {
    padding: 13.7rem 8.5rem;
    background-image: url("../public/assets/about/desktop/image-hero-whitecup.jpg");
  }

  .about .heading {
    font-size: 4rem;
    line-height: 4.8rem;
  }

  .about .paragraph {
    width: 44.5rem;
  }

  /* Our Commitment */

  .commitment {
    width: 111rem;
    margin: 16.8rem auto 0;
    align-items: center;
  }

  .commitment-image {
    width: 44.5rem;
  }

  .commitment .content-wrapper {
    width: 54rem;
  }

  .commitment .paragraph {
    margin-top: 3.2rem;
  }

  /* Quality */

  .quality {
    margin: 25.6rem auto 0;
    padding: 8.8rem 8.5rem 17.6rem;
    text-align: left;
  }

  .quality::before {
    content: "";
    width: 44.5rem;
    height: 47.4rem;
    background-image: url("../public/assets/about/desktop/image-quality.jpg");
    top: auto;
    left: auto;
    bottom: 8.8rem;
    right: 8.5rem;
  }

  .quality .heading {
    font-size: 4rem;
  }

  .quality .paragraph {
    width: 54rem;
    padding: 0 1.7rem;
  }

  /* Headquarters */

  .headquarters {
    margin: 16.8rem auto 0;
  }

  .headquarters .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 9.5rem;
  }

  .headquarters .subheading {
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
  }

  /* Hero Section */

  .subscribe-hero {
    padding: 13.5rem 8.5rem 12.6;
    background-image: url("../public/assets/plan/desktop/image-hero-blackcup.jpg");
  }

  .subscribe-hero .heading {
    font-size: 7.2rem;
    line-height: 7.2rem;
  }

  .subscribe-hero .paragraph {
    margin-top: 3.2rem;
    width: 44.5rem;
  }

  /* Steps */

  .steps {
    width: min(100%, 128rem);
    margin: 16.8rem auto 0;
    padding: 19.8rem 8.5rem 10rem;
  }

  .steps .grid {
    /* width: min(86.7%, 104.5rem); */
    width: 104.5rem;
    gap: 9.5rem;
  }

  .steps .subheading {
    padding-right: 6rem;
  }

  .steps .paragraph {
    margin-top: 4.2rem;
    /* padding-right: 0.5rem; */
    padding-right: 1.7rem;
  }

  .steps .how-steps::after {
    background-color: transparent;
  }

  .steps .how-steps::before {
    width: 133.5%;
  }

  /* Order */

  .order-wrapper {
    display: flex;
    justify-content: space-between;
    width: 111rem;
    margin: 16.8rem auto 0;
  }

  .order-options {
    display: block;
    list-style: none;
  }

  .option {
    font-family: var(--font-secondary);
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 3.2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2.35rem;
    padding: 2.4rem 0;
    border-bottom: 1px solid var(--grey-transparent);
  }

  .option:nth-of-type(1) {
    padding-top: 0;
  }

  .option:nth-of-type(5) {
    border: none;
  }

  .option-index {
    color: var(--grey);
  }

  .option-index.default-open {
    color: var(--dark-cyan);
  }

  .form-wrapper {
    max-width: 73rem;
    width: 100%;
  }

  .order-form {
    margin: 0;
    gap: 8.8rem;
    width: 100%;
  }

  .question {
    font-size: 4rem;
  }

  .answers {
    margin-top: 5.6rem;
    gap: 2.3rem;
  }

  .answer {
    padding: 3.2rem 2.8rem 8.4rem;
  }

  /* Order Summary */

  .order-summary .container {
    margin: 8.8rem 0 0;
    width: 100%;
    padding: 2.7rem 6.4rem;
  }

  .order-summary .create-button {
    margin: 4rem 0 0 auto;
  }

  /* Footer */

  .footer {
    margin: 16.8rem auto 8.8rem;
    padding: 4.7rem 8.5rem;
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    gap: 10.29rem;
  }

  .footer-links {
    margin: 0;
  }

  .social-icons {
    justify-content: end;
  }
}
