@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");

:root {
  --font-primary: "Barlow", sans-serif;
  --font-secondary: "Fraunces", serif;
  --cyan: rgba(102, 210, 207, 1);
  --dark-cyan: rgb(14, 135, 132);
  --dark-grey-blue: rgb(51, 61, 75);
  --dark-grey-blue-transparent: rgba(51, 61, 75, 0.8);
  --dark-grey: rgba(44, 52, 62, 1);
  --pale-orange: rgb(253, 214, 186);
  --light-cream: rgb(254, 252, 247);
  --light-cream-transparent: rgba(254, 252, 247, 0.8);
  /* --dark-cream: rgb(3, 2, 0); */
  --grey: rgb(131, 136, 143);
  --light-grey: rgba(226, 222, 219, 1);
  --white: rgb(255, 255, 255);
  --white-transparent: rgba(255, 255, 255, 0.5);
  --font-gradient: -webkit-linear-gradient(
    180deg,
    rgba(254, 252, 247, 0.0001) 0%,
    #fefcf7 100%
  );
}

/* CSS Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  background: var(--light-cream);
  color: var(--dark-grey-blue);
  font-family: var(--font-primary);
  font-weight: 400;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

img {
  display: block;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

label {
  display: block;
}

.container {
  width: min(87.2%, 32.7rem);
}

.heading,
.subheading {
  font-family: var(--font-secondary);
  font-weight: 900;
}

.paragraph {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.grid {
  display: grid;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.2rem auto 4rem;
}

.header .logo {
  width: 14.021rem;
}

.header .logo,
.navigation-button {
  position: relative;
  z-index: 100;
}

/* Navigation */

.navigation {
  background: linear-gradient(
    to top,
    rgba(254, 252, 247, 0.504981) 0%,
    #fefcf7 55.94%
  );
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  transform: translateY(-100%);
  transition: 500ms ease-in-out;
  z-index: 10;
}

.navigation.open {
  transform: translateY(0);
  transition: 500ms ease-in-out;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-top: 13rem;
}

.nav-link {
  font-family: var(--font-secondary);
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--dark-grey-blue);
}

.lock-scroll {
  overflow: hidden;
}

/* Home Page */

/* Hero Section */
.home-hero {
  background-image: url("../public/assets/home/mobile/image-hero-coffeepress.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: 10rem 2.4rem 9.9rem;
  margin: 0 auto;
}

.home-hero .heading {
  color: var(--light-cream);
  font-size: 4rem;
  line-height: 4rem;
}

.home-hero .paragraph {
  color: var(--light-cream-transparent);
  margin: 2.4rem 0 3.9rem;
}

.create-button {
  display: inline-block;
  background: var(--dark-cyan);
  border-radius: 6px;
  color: var(--light-cream);
  font-family: var(--font-secondary);
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 2.5rem;
  padding: 1.5rem 3.1rem 1.6rem;
}

/* Our Collection */

.collection {
  margin-top: 12rem;
}

.collection .heading {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  line-height: 7.2rem;
  text-transform: lowercase;
  margin-bottom: 1.3rem;
}

.collection .grid {
  grid-template-columns: 1fr;
  gap: 4.8rem;
}

.collection-image {
  width: 20rem;
  margin: 0 auto 2.4rem;
}

.collection .subheading {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.collection .paragraph {
  width: min(75.2%, 28.2rem);
  margin: 1.6rem auto 0;
}

/* Why Choose Us */

.choose-us {
  background: var(--dark-grey);
  color: var(--light-cream);
  margin: 12rem auto 0;
  padding: 6.4rem 2.4rem 66.1rem;
  border-radius: 10px;
  position: relative;
}

.choose-us .heading {
  font-size: 2.8rem;
  line-height: 2.8rem;
}

.choose-us .paragraph {
  color: var(--light-cream-transparent);
  margin: 2.4rem 0 0;
}

.choose-us .grid {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 38.2rem);
  gap: 2.4rem;
  position: absolute;
  width: min(85.3%, 27.9rem);
  top: 30.5rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.reason {
  background: var(--dark-cyan);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reason-image {
  width: 7.2rem;
  margin: 0 auto 5.6rem;
}

.reason:last-of-type .reason-image {
  margin-bottom: 6.7rem;
}

.reason .subheading {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.reason .paragraph {
  width: min(85.8%, 21.2rem);
  margin: 2.4rem auto 0;
}

/* How It Works */

.how-it-works {
  margin-top: 71.7rem;
}

.how-it-works .heading {
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--grey);
}

.how-it-works .grid {
  grid-template-columns: 1fr;
  gap: 5.6rem;
  margin: 8rem auto 7.9rem;
}

.how-it-works .subheading {
  font-size: 2.8rem;
  line-height: 3.2rem;
  margin-bottom: 2.4rem;
}

.subheading-index {
  display: block;
  font-size: 7.2rem;
  line-height: 7.2rem;
  color: var(--pale-orange);
  margin-bottom: 2.4rem;
}

/* About Us Page */

/* Hero Section */

.about {
  margin: 0 auto;
  padding: 11.1rem 2.4rem 8.7rem;
  background-image: url("../public/assets/about/mobile/image-hero-whitecup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.about .heading {
  font-size: 2.8rem;
  line-height: 2.8rem;
  color: var(--light-cream);
}

.about .paragraph {
  color: var(--light-cream-transparent);
  margin-top: 2.4rem;
}

/* Our Commitment */

.commitment {
  margin: 12rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.commitment-image {
  width: 100%;
  border-radius: 8px;
}

.commitment .heading {
  font-size: 3.2rem;
  line-height: 4.8rem;
}

.commitment .paragraph {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--dark-grey-blue-transparent);
  margin-top: 3rem;
}

/* Quality */

.quality {
  margin: 19.8rem auto 0;
  background-color: var(--dark-grey);
  border-radius: 10px;
  padding: 14.2rem 2.4rem 6.1rem;
  position: relative;
}

.quality::before {
  content: "";
  width: min(85.3%, 27.9rem);
  height: 15.6rem;
  background-image: url("../public/assets/about/mobile/image-quality.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -7.8rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.quality .heading {
  color: var(--light-cream);
  font-size: 2.8rem;
  line-height: 2.8rem;
}

.quality .paragraph {
  margin-top: 2.4rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--light-cream-transparent);
}

/* Headquarters */

.headquarters {
  margin: 12rem auto 0;
}

.headquarters .heading {
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--grey);
}

.headquarters .grid {
  margin-top: 7.2rem;
  grid-template-columns: 1fr;
  gap: 8rem;
}

.headquarters-illustration {
  margin: 0 auto 4.8rem;
}

.headquarters .subheading {
  font-size: 2.8rem;
  line-height: 3.6rem;
  margin-bottom: 2.2rem;
}

.contact-info {
  display: block;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

/* Subscribe */

/* Hero Section */

.subscribe-hero {
  margin: 0 auto;
  padding: 10.1rem 2.4rem 13.6rem;
  background-image: url("../public/assets/plan/mobile/image-hero-blackcup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.subscribe-hero .heading {
  font-size: 4rem;
  line-height: 4rem;
  color: var(--light-cream);
}

.subscribe-hero .paragraph {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--light-cream-transparent);
  margin-top: 2.2rem;
}

/* Steps */

.steps {
  background: var(--dark-grey);
  border-radius: 10px;
  margin-top: 12rem;
  padding: 8rem 2.4rem 7.9rem;
}

.steps.grid {
  grid-template-columns: 1fr;
  gap: 5.6rem;
}

.steps .subheading {
  font-size: 2.8rem;
  line-height: 3.2rem;
  color: var(--white);
}

.steps .paragraph {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--white);
  margin-top: 2.4rem;
}

/* Order */

.order-options {
  display: none;
}

.order-form {
  width: min(87.5%, 32.8rem);
  margin: 12rem auto 0;
  grid-template-columns: 1fr;
  gap: 9.6rem;
}

.order-option {
  text-align: left;
}

.question-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  text-align: left;
}

.question {
  font-family: var(--font-secondary);
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: var(--grey);
}

.arrow-icon {
  transition: 500ms;
}

.question-expanded {
  transform: rotate(180deg);
  transition: 500ms;
}

.disabled-button {
  opacity: 0.5;
}

.answers {
  margin-top: 3.2rem;
  grid-template-columns: 1fr;
  gap: 1.6rem;
}

.answer-value {
  font-family: var(--font-secondary);
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 0.8rem;
}

.answer {
  display: block;
  background: #f4f1eb;
  border-radius: 8px;
  padding: 2.4rem 2.5rem;
  width: 100%;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.checked-option {
  background-color: var(--dark-cyan);
  color: var(--white);
}

.user-option {
  color: var(--dark-cyan);
}

/* Order Summary */

.order-summary .container {
  margin: 12rem auto 0;
  padding: 3.2rem 2.4rem 3.2rem 2.5rem;
  background: var(--dark-grey);
  border-radius: 10px;
  text-align: left;
}

.summary-heading {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  color: var(--white-transparent);
}

.summary-text {
  margin-top: 0.8rem;
  font-family: var(--font-secondary);
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 4rem;
  color: var(--white);
}

.order-summary .create-button {
  margin-top: 5.6rem;
  padding: 1.5rem 3.55rem 1.6rem;
}

.create-button.subscribe-disabled {
  background-color: var(--light-grey);
}

/* Modal */

.modal {
  border-radius: 8px;
  text-align: left;
  overflow: hidden;
}

.modal .heading {
  background: var(--dark-grey);
  font-size: 2.8rem;
  line-height: 3.2rem;
  color: var(--white);
  padding: 2.8rem 2.4rem;
}

.modal .summary-text {
  color: var(--grey);
  margin: 4rem 2.4rem 0;
}

.confirmation {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--dark-grey-blue-transparent);
  margin: 0 2.4rem;
}

.modal .create-button {
  margin: 2.4rem;
}

/* Footer */

.footer {
  background: var(--dark-grey);
  margin: 12rem auto 7.2rem;
  padding: 5.4rem 0;
}

.footer-logo-text {
  fill: var(--white);
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin: 4.8rem auto;
}

.footer-link {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: var(--grey);
}

.social-icons {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
}

/* Media Queries */
@media screen and (min-width: 630px) {
  /* General Styles */
  body {
    text-align: left;
  }

  .container {
    width: min(89.5%, 68.8rem);
  }

  /* Header */

  .header {
    margin: 4rem auto 5.3rem;
  }

  .header .logo {
    width: 23.7rem;
  }

  /* Navigation */

  .navigation-button {
    display: none;
  }

  .navigation {
    background: none;
    position: static;
    transform: translateY(0);
    width: auto;
    height: auto;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
    margin-top: 0;
  }

  .nav-link {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--dark-grey-blue);
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: var(--grey);
  }

  /* Home Page */

  /* Hero Section */
  .home-hero {
    background-image: url("../public/assets/home/tablet/image-hero-coffeepress.jpg");
    border-radius: 10px;
    padding: 10.4rem 5.8rem;
    margin: 0 auto;
  }

  .home-hero .content-wrapper {
    width: 39.8rem;
  }

  .home-hero .heading {
    color: var(--light-cream);
    font-size: 4.8rem;
    line-height: 4.8rem;
  }

  .home-hero .paragraph {
    margin: 2.4rem 0 4rem;
  }

  /* Our Collection */

  .collection {
    margin-top: 14.4rem;
  }

  .collection .heading {
    font-size: 9.6rem;
    margin-bottom: 0;
    text-align: center;
  }

  .collection .grid {
    gap: 3.2rem;
    position: relative;
    top: -2.5rem;
  }

  .collection-wrapper {
    display: flex;
    justify-content: center;
    width: min(74.6%, 57.3rem);
    margin: 0 auto;
    gap: 3.5rem;
  }

  .collection-image {
    width: 23.482rem;
    margin: 0 auto;
  }

  .collection-wrapper .content-wrapper {
    margin-top: 2.955rem;
  }

  .collection .paragraph {
    width: auto;
    margin: 2.4rem 0 0;
  }

  /* Why Choose Us */

  .choose-us {
    background: var(--dark-grey);
    color: var(--light-cream);
    margin: 12rem auto 0;
    padding: 5.6rem 7.4rem 36.8rem;
    border-radius: 10px;
    position: relative;
  }

  .choose-us .heading {
    font-size: 3.2rem;
    line-height: 4.8rem;
    text-align: center;
  }

  .choose-us .paragraph {
    text-align: center;
    padding: 0 2.5rem;
  }

  .choose-us .grid {
    width: min(83.3%, 57.3rem);
    grid-template-rows: repeat(3, 1fr);
    top: 27.5rem;
  }

  .reason {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5.5rem;
    padding: 4.1rem 4.8rem 4.1rem 7rem;
  }

  .reason-image {
    width: 5.6rem;
    margin: 0;
  }

  .reason:last-of-type .reason-image {
    margin-bottom: 0;
  }

  .reason .paragraph {
    width: auto;
    text-align: left;
    margin: 1.6rem 0 0;
    padding: 0;
  }

  /* How It Works */

  .how-it-works {
    margin: 43.4rem auto 0;
    width: min(89.5%, 68.8rem);
  }

  .how-it-works .grid {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 11.9rem 0 4.4rem;
  }

  .how-it-works .subheading {
    margin-bottom: 3.8rem;
  }

  .subheading-index {
    margin-bottom: 4.2rem;
  }

  .how-it-works .paragraph {
    padding-right: 1.2rem;
  }

  /* Footer */

  .footer {
    background: var(--dark-grey);
    margin: 14.4rem auto 7.2rem;
    text-align: center;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    width: 28.3rem;
    justify-content: space-between;
    gap: 0;
    margin: 3.2rem auto 6.5rem;
  }
}
